{{- if .Values.namespace.create }}
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.namespace.name }}
  labels:
    {{- include "frontend-app.labels" . | nindent 4 }}
    app.kubernetes.io/team: {{ .Values.teamName }}
{{- end }}
