apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.service.name | default "frontend-service" }}
  namespace: {{ .Values.namespace.name }}
  labels:
    {{- include "frontend-app.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "frontend-app.selectorLabels" . | nindent 4 }}
